* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.calculator {
    width: 33%;
    padding: 30px;
    background-color: #525252;
    border-radius: 40px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    width: 25%;
    height: 80px;
    text-align: center;
    background-color: #EAEAEA;
    border-radius: 15px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.btn:active {
    background-color: rgb(214, 206, 206);
}

.btns_block {
    width: 100%;
    display: flex;
}

.equals {
    background-color: rgb(230, 176, 76);
    color: #EFEFEF;
}

.equals:active {
    background-color: rgb(193, 151, 74);
}

.display_result {
    width: 100%;
    height: 100px;
    background-color: #CFE0CE;
    border-radius: 20px;
    margin-bottom: 40px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    text-align: right;
    overflow: auto;

}

.clear {
    background-color: rgb(226, 82, 82);
    color: white;
}

.clear:active {
    background-color: rgb(229, 54, 54);;
}

/* Media for phones */
@media (max-width: 500px) {

    .container {
        overflow: auto;
    }

    .calculator {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .btn {
        font-size: 40px;
        width: 25%;
        height: 25%;
        color: black;
    }

    .equals {
        color: #EFEFEF;
    }

    .clear {
        color: white;
    }


    .display_result {
        height: 60px;
        font-size: 50px;
        margin-bottom: 20px;
    }
}

/* media for ipads */
@media(min-width: 501px) and (max-width: 912px) {
    
    .calculator {
        width: 70%;
        height: auto;
        overflow: auto;
    }

    .display_result {
        font-size: 80px;
    }
}

/* media lanscape */
@media(min-width: 913px) and (max-width: 1180px) {
    .calculator {
        width: 60%;
    }

    .display_result {
        padding-top: 8px;
        font-size: 75px;
    }
}

